.book-group .media .book-progress {
    color: #26a69a;
}

.book-group .media .book-progress:after {
    content: attr(value);
}

.book-group .media .book-progress[value="0%"] {
    display: none;
}

.book-group .media .book-progress[value="100%"]:after {
    font-family: FontAwesome;
    content: "\f00c";
    font-size: 24px;
    line-height: 55px;
}

.bill-value {
    color: #26a69a;
}

.bill-value::before {
    content: '+';
}

.bill-value[value^="-"] {
    color: #d9534f;
}

.bill-value[value^="-"]::before {
    content: '';
}



/*.bill-value:after {
    content: attr(value);
}*/


/* home banner*/

.stripes {
    width: 4000px;
    height: 4000px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

.stripes2 {
    width: 4000px;
    height: 4000px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
}

.st {
    border: none;
}

.linkspan:hover {
    background: rgb(240, 200, 220);
}

.asf {
    opacity: 0.8;
}

@-webkit-keyframes hrtan {
    from {
        color: rgb(162, 53, 45);
    }
    to {
        color: rgba(162, 53, 45, .6);
    }
}

@keyframes hrtan {
    from {
        color: rgb(26, 82, 224);
    }
    to {
        color: rgb(101, 110, 133);
    }
}

.heartanim {
    -webkit-animation: hrtan 0.7s linear 0s infinite alternate;
    animation: hrtan 0.7s linear 0s infinite alternate;
}

@-webkit-keyframes st1an {
    from {
        -webkit-transform: scale(7, 7)
    }
    to {
        -webkit-transform: scale(1, 1)
    }
}

@keyframes st1an {
    from {
        transform: scale(7, 7)
    }
    to {
        transform: scale(1, 1)
    }
}

@-webkit-keyframes st2an {
    from {
        -webkit-transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(7, 7)
    }
}

@keyframes st2an {
    from {
        transform: scale(1, 1)
    }
    to {
        transform: scale(7, 7)
    }
}

@-webkit-keyframes st3an {
    from {
        -webkit-transform: scale(4, 4)
    }
    to {
        -webkit-transform: scale(2, 2)
    }
}

@keyframes st3an {
    from {
        transform: scale(4, 4)
    }
    to {
        transform: scale(2, 2)
    }
}

@-webkit-keyframes st4an {
    from {
        -webkit-transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(7, 7)
    }
}

@keyframes st4an {
    from {
        transform: scale(1, 1)
    }
    to {
        transform: scale(7, 7)
    }
}

@-webkit-keyframes st5an {
    from {
        -webkit-transform: scale(1, 1)
    }
    to {
        -webkit-transform: scale(3, 3)
    }
}

@keyframes st5an {
    from {
        transform: scale(1, 1)
    }
    to {
        transform: scale(3, 3)
    }
}

@-webkit-keyframes st6an {
    from {
        -webkit-transform: scale(8, 8)
    }
    to {
        -webkit-transform: scale(1, 1)
    }
}

@keyframes st6an {
    from {
        transform: scale(8, 8)
    }
    to {
        transform: scale(1, 1)
    }
}



/*PZblue*/

.st1 {
    background: rgba(26, 160, 148, 0.2);
    height: 100px;
    margin-bottom: -20px;
    -webkit-animation: st1an 40s linear 2s infinite alternate;
    animation: st1an 40s linear 2s infinite alternate;
}



/*PZgreen*/

.st2 {
    background: rgba(83, 209, 169, 0.3);
    height: 80px;
    margin-bottom: -18.75px;
    -webkit-animation: st2an 55s linear 2s infinite alternate;
    animation: st2an 55s linear 2s infinite alternate;
}



/*PZgreen2*/

.st3 {
    background: rgba(69, 211, 201, 0.2);
    height: 120px;
    margin-bottom: -30px;
    -webkit-animation: st3an 35s linear 0s infinite alternate;
    animation: st3an 35s linear 0s infinite alternate;
}



/*white2*/

.st4 {
    background: rgba(246, 244, 233, 0.15);
    height: 40px;
    margin-bottom: -20px;
    -webkit-animation: st4an 70s linear 1s infinite alternate;
    animation: st4an 70s linear 1s infinite alternate;
}



/*PZblue dark*/

.st5 {
    background: rgba(32, 137, 140, 0.2);
    height: 60px;
    margin-bottom: -11.2px;
    -webkit-animation: st5an 78s linear 10s infinite alternate;
    animation: st5an 78s linear 10s infinite alternate;
}



/*PZgreen dark*/

.st6 {
    background: rgba(3, 131, 111, 0.3);
    height: 140px;
    margin-bottom: -40px;
    -webkit-animation: st6an 30s linear 0s infinite alternate;
    animation: st6an 30s linear 0s infinite alternate;
}



/*.home-banner {
    background: linear-gradient(54deg, #2196F3, #26a69a, #FFC107, #FF5722);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 100s ease infinite;
    -moz-animation: AnimationName 100s ease infinite;
    -o-animation: AnimationName 100s ease infinite;
    animation: AnimationName 100s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 87%
    }
    50% {
        background-position: 100% 14%
    }
    100% {
        background-position: 0% 87%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 87%
    }
    50% {
        background-position: 100% 14%
    }
    100% {
        background-position: 0% 87%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 87%
    }
    50% {
        background-position: 100% 14%
    }
    100% {
        background-position: 0% 87%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 87%
    }
    50% {
        background-position: 100% 14%
    }
    100% {
        background-position: 0% 87%
    }
}*/

.mui-switch {
    width: 52px;
    height: 31px;
    position: relative;
    border: 1px solid #dfdfdf;
    background-color: #fdfdfd;
    box-shadow: #dfdfdf 0 0 0 0 inset;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-clip: content-box;
    display: inline-block;
    -webkit-appearance: none;
    user-select: none;
    outline: none;
}

.mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
}

.mui-switch:checked:before {
    left: 21px;
}

.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s;
}

.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s;
}

.mui-switch.mui-switch-anim:before {
    transition: left 0.3s;
}

.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s;
}

.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s;
}

.transcript-label {
    position: relative;
    padding: 5px 10px;
    margin: auto;
    display: inline-block;
    font-size: 1.25rem;
}

.transcript-label:before,
.transcript-label:after {
    content: "";
    position: absolute;
    top: 16px;
    width: 6rem;
    height: 1px;
}

.transcript-label:before {
    left: -6rem;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
}

.transcript-label:after {
    right: -6rem;
    background-image: linear-gradient(-45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 100%);
}